In [ ]:
word = input()
b = ('а', 'у', 'о', 'ы', 'и', 'э', 'я', 'ю', 'е')
for i, letter in enumerate(word):
    if i == b:
        print(letter)

In [ ]:
word = 'Зимушка-зима'
vovels = 'аеёиоуыэюя'
for letter in word:
    if letter in vovels:
        print(letter)

In [ ]:
name = input()
for i, letter in enumerate(name, start=1):
    print('Буква', i, 'в этом имени', letter)

In [ ]:
num_1 = int(input())
num_2 = int(input())
for i in range(num_1, num_2+1, 1):
        if i%2 !=0 and (i%3==0 or i%5==0):
            print(i)
if (num_2 < num_1) or (num_1 < 0):
    print('Введён неверный диапазон чисел')

In [ ]:
num_2=0
num_3=0
for i in range(1,11):
    num_2=i**2
    num_3=i**3
    print(i, num_2, num_3)

In [ ]:
number=int(input())
for i in range(1, number+1):
    if number%i==0:
        print(i)

In [ ]:
num_1=int(input())
num_2=int(input())
for i in range(2, num_1+1):
    if num_1%i==0 and num_2%i==0:
        print(i)

In [ ]:
f = None
f1, f2 = 1, 1
n = int(input('n = '))
print('1 =>', f1)
print('2 =>', f2)
for j in range(3, n + 1):
    f  = f1 + f2
    f1, f2 = f2, f
    print(j, '=>', f)

In [ ]:
number=int(input())
for i in range(1, 11):
    a=number*i
    print(number, 'X', i, '=', a)

In [ ]:
n = int(input('Какой член ряда Фибоаччи вам нужен?'))
j=1
k=0
l=0
for i in range (1,n+1):
    l = j+k
    j=k
    k=l
print (l)

In [ ]:
num_2=0
num_3=0
for i in range (1, 11):
    print('{:5}'.format(i), end='')
    print('{:5}'.format(i ** 2), end='')
    print('{:5}'.format(i ** 3), end='')
    print()

In [ ]:
num_1 = int(input())
num_2 = int(input())
for i in range(num_1,1,-1):
    if num_2 % i == 0 and num_1 % i == 0:
        print(i)
        break
else:
    print('Общих делителей не найдено')

In [ ]:
string='абстракция'
vovels = 'абв'
for letter in string:
    if letter not in vovels:
        print(letter, end='')

In [ ]:
string=input()
for i, b in enumerate(string, start=1):
    if i != ('а', 'б', 'в'):
        continue
        print(b)

In [ ]:
word = input()
for i, b in enumerate(word, start=1):
    if i%2 != 0:
        print(b)

In [ ]:
word = input()
for i, b in enumerate(word, start=1):
    if i%2 != 0:
        print(b)

In [ ]:
string = 'абстракция'
vovels = 'абв'
for letter in string:
    if letter != vovels:
        continue
        print (i)
else:
    print('нет')

In [ ]:
string = 'абстракция'
for i, letter in enumerate (string):
    if letter == 'а' or letter == 'б' or letter == 'в':
        continue
    else:
        print(letter,end='')

In [ ]:
string = input()
for i, letter in enumerate(string):
    if string == 'Да':
        print('Это отлично!')
else:
            print('Увы, это неправильный ответ')

In [ ]:
string = input()
for i in range (5):
    if string == 'Да':
        print('Это отлично!')
        break
    elif string == 'Нет':
        print('Увы, это неправильный ответ!')  
print('Это безнадёжно!')

In [ ]:
string = input()
for i in range(5):
    if string=='Да':
        print('Это отлично!')
        break
    else:
        print('Увы, это неправильный ответ')
else:
    print('Это безнадёжно!')

In [ ]:
net_counter = 0
for i in range(0, 5):
    #answer = input('Любите ли вы Python?')
    answer = "Нет"
    
    if ("Да" == answer):
        print("Это отлично!")
        continue
    
    print("Увы, это неправильный ответ")
    
    if ("Нет" == answer):
        net_counter += 1
    

if (5 == net_counter):
    print("Это безнадёжно!")

In [ ]:
string = input()
for i in range (5):
    if string == 'Да':
        print('Это отлично!')
        break
    elif string == 'Нет':
        print('Увы, это неправильный ответ')  
print('Это безнадёжно!')

In [ ]:
number = int(input())
for i in range(2, int((number+1)**(1/2)), 1):
    if number%i==0:
        print(i)

In [ ]:
number = int(input())

if number < 2:
    print('Число должно быть больше 2')
    quit()
elif number == 2:
    print('Это просто число')
    quit()

i = 2
limit = int(number**(1/2))

while i <= limit:
    if number % i == 0:
        print('Не является простым')
        quit()
    i += 1

print('Это простое число')

In [ ]:
string = 'абстракция'
for i, letter in enumerate (string):
    if letter == 'а' or letter == 'б' or letter == 'в':
        continue
    else:
        print(letter,end='')

In [1]:
string = 'прелестная строка'
for index, letter in enumerate(string):
    if index % 2 == 0 and letter in 'ауоыиэяюёе':
        print("Строка мне не нравится!")
        break
else:
    print("Какая хорошая строка!")

Строка мне не нравится!

In [6]:
Y = 170000
Z = 1000000
yearly_multiplier = 1.1
year = 0
while Y<=Z:
    Y=Y*yearly_multiplier
    year+=1
else:
    print(year)

19

In [5]:
weight=77
total=0
while total<400:
    total+=weight
else:
    print(total/weight)

6.0

In [5]:
current_health = int(input())
attack = 80
while current_health == 0:
    current_health=current_health-attack
    print(current_health)
else:
    print(int(current_health/attack))

500
6

In [16]:
current_health = int(input())
attack = 80
i = 0
while current_health >= attack:
    current_health=current_health-attack
    print(current_health)

500
420
340
260
180
100
20

In [3]:
balance = 10000
spent = 2800
while balance>0:
    print(balance)
    balance=balance-spent
else:
    print('Слишком большие расходы')

10000
7200
4400
1600
Слишком большие расходы

In [48]:
current_health = 1236
attack = 80
sec = 1
j = 0
while current_health >= attack:
    current_health=current_health-attack
    j += 1
else:
    print(j)

15

In [16]:
current_health = 500
attack = 80
sec = 0
while current_health > 0:
    current_health-=attack
    sec+=10
    attack=attack*sec
    print(sec)
    break
else:
    print()

10

In [17]:
volume = 1000
dose = 0
i = dose+5
while volume > 1000:

SyntaxError: unexpected EOF while parsing (<ipython-input-17-52bc2b4a7ae6>, line 5)

In [26]:
volume = 0
limit = 1001
dose = 5
zahod = -1
while volume <= limit:
    volume = volume+dose
    zahod += 1
else:
    print(zahod)

200

In [39]:
volume = 1000
dose = 5
limit = 0
i = 0
j = 0
while volume > limit:
    volume = volume - (dose+i)
    i += 5
    j +=1
else:
    print(j)

20

In [46]:
for i in range (10):
    if i >= 3:
        break
print(i)

3

In [47]:
count = 1
while count < 27:
    if count%2 == 0:
        to_print = 12
    else:
        to_print = 10
    count += 1
print(to_print)

12

In [49]:
OurBestStudents = ['Александр']
print(OurBestStudents[0])

Александр

In [15]:
body = ['голова', 'руки', 'ноги', 'глаза', 'уши', 'рот', 'нос', 'туловище']
print(body[::2])

['голова', 'ноги', 'уши', 'нос']

In [8]:
sparta = ['Иванов', 'Петров', 'Сидоров', 'Зайцев', 'Дятлов', 
          'Козлов', 'Лисичкин', 'Огурцов', 'Капустин', 'Арбузов']
print(sparta[-2:1:-3])

['Капустин', 'Козлов', 'Сидоров']

In [9]:
old_salary=[35000,50000,65000,49000,55000]
new_salary=[]
for salary in old_salary:
    new_salary.append(salary*1.9)
print(new_salary)

[66500.0, 95000.0, 123500.0, 93100.0, 104500.0]

In [10]:
my_list = [1, 10, 45, 31, 12, 54, 111, 398, 97, 63]
result = max(my_list) + min(my_list) + my_list.count('batman')
print(result)

399

In [13]:
my_list = [1, 10, 45, 31, 12, 54, 111, 398, 97, 63]
my_list.sort(reverse = True)
print(my_list)

[398, 111, 97, 63, 54, 45, 31, 12, 10, 1]

In [16]:
my_list = [1, 10, 45, 31, 12, 54, 111, 398, 97, 63]
my_list.sort(reverse = True)
new_list = my_list[::2]
print(new_list)
result = 0
for number in new_list:
    result += number
print(result)

[398, 97, 54, 31, 10]
590

In [19]:
398+97+54+31+10

590

In [3]:
my_list = [1]
for i in range(11):
    my_list.append(my_list[i] * 2)
    print(my_list)
my_list.sort(reverse = True)
print(my_list)

[1, 2]
[1, 2, 4]
[1, 2, 4, 8]
[1, 2, 4, 8, 16]
[1, 2, 4, 8, 16, 32]
[1, 2, 4, 8, 16, 32, 64]
[1, 2, 4, 8, 16, 32, 64, 128]
[1, 2, 4, 8, 16, 32, 64, 128, 256]
[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]
[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]
[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048]
[2048, 1024, 512, 256, 128, 64, 32, 16, 8, 4, 2, 1]

In [1]:
fruits = 'яблоко банан апельсин баклажан перец помидор арбуз ананас'.split()
print(fruits)
my_list = []
for fruit in fruits:
    my_list.append(fruit[0])
    print(my_list)
my_list.sort()
print(my_list)
my_list.count(my_list[0])

['яблоко', 'банан', 'апельсин', 'баклажан', 'перец', 'помидор', 'арбуз', 'ананас']
['я']
['я', 'б']
['я', 'б', 'а']
['я', 'б', 'а', 'б']
['я', 'б', 'а', 'б', 'п']
['я', 'б', 'а', 'б', 'п', 'п']
['я', 'б', 'а', 'б', 'п', 'п', 'а']
['я', 'б', 'а', 'б', 'п', 'п', 'а', 'а']
['а', 'а', 'а', 'б', 'б', 'п', 'п', 'я']

3

In [33]:
my_list = [1]
for i in range(49):
    my_list.append(my_list[i]+1)
new_list = my_list[2::3]
result = 0
for number in new_list:
    result += number
print(result)

408

In [34]:
raw_list = ['переменные', 'циклы', 'условия', 'списки', 'словари', 'файлы', 'функции']
my_list=[]
for name in raw_list:
    my_list.append(len(name))
result = min(my_list) + max(my_list)
print(result)
      
            
for name in raw_list:
    my_list.append((name%2==0)*x_min)

15

In [42]:
raw_list = [2, 8, 10, 23, 64, 49, 11, 52, 71, 14]
x_min = min(raw_list)
x_max = max(raw_list)
my_list=[]
for number in raw_list:
    if number%2==0:
        new_min = number*x_min
        my_list.append(new_min)
    else:
        new_max = number*x_max
        my_list.append(new_max)
result = max(my_list)
print(result)

[4, 16, 20, 1633, 128, 3479, 781, 104, 5041, 28]
5041

In [44]:
my_list = [x for x in range(1, 25, 2)]
my_list

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

In [46]:
my_list = []
for x in range (1, 25, 2):
    my_list.append(x)
print(my_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

In [1]:
my_list = [x for x in range(10, 100) if x%3 == 0 and x%5 == 0]
my_list

[15, 30, 45, 60, 75, 90]

In [2]:
powers = [x**y for x in range(1, 10) for y in [2,10]]
powers

[1,
 1,
 4,
 1024,
 9,
 59049,
 16,
 1048576,
 25,
 9765625,
 36,
 60466176,
 49,
 282475249,
 64,
 1073741824,
 81,
 3486784401]

In [26]:
my_list = [x**0.5 for x in range(1, 50) if x%7 ==0]
my_list

[2.6457513110645907,
 3.7416573867739413,
 4.58257569495584,
 5.291502622129181,
 5.916079783099616,
 6.48074069840786,
 7.0]

In [23]:
my_list = []
for x in range(1, 50):
    if x%7 == 0:
        my_list.append(x**0.5)
my_list

[2.6457513110645907,
 3.7416573867739413,
 4.58257569495584,
 5.291502622129181,
 5.916079783099616,
 6.48074069840786,
 7.0]

In [27]:
my_list = []
for x in range(90, 100):
    first_digit = x//10
    last_digit = x%10
    my_list.append(first_digit + last_digit)
my_list

[9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [28]:
my_list = [x//10+x%10 for x in range(90,100)]
my_list

[9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [35]:
employee_base = {
    'Мария Никитина': '+79033923029',
    'Егор Савичев': '+78125849204',
    'Александр Пахомов': '+79053049385',
    'Алина Егорова': '+79265748370',
    'Руслан Башаров': '+79030598495'
}
request = ['Мария Никитина', 'Егор Савичев', 'Алексей Чернышевский']
for name in request:
    print(employee_base[name])

+79033923029
+78125849204

KeyError: 'Алексей Чернышевский'

In [78]:
draw_dict = {
	'Россия': 'A',
	'Португалия': 'B',
	'Франция': 'C',
	'Дания': 'C',
	'Египет': 'A'
}
group = ['Россия','Португалия','Франция','Дания','Египет','Италия']
for name in group:
    if name in draw_dict:
        print(draw_dict[name])
else:
    print('group=', 'unknown')

A
B
C
C
A
group= unknown

In [91]:
draw_dict= {
    'Россия': 'A',
    'Португалия': 'B',
    'Франция': 'C',
    'Дания': 'C',
    'Египет': 'A'
}
country = 'Италия'
if country in draw_dict:
        group = print(draw_dict[country])
else:
        group = 'unknown'

In [1]:
draw_dict= {
    'Россия': 'A',
    'Португалия': 'B',
    'Франция': 'C',
    'Дания': 'C',
    'Египет': 'A'
}
country = 'Италия'
if country not in draw_dict:
        draw_dict.setdefault(country, 'unknown')
        group = 'unknown'
draw_dict

{'Россия': 'A',
 'Португалия': 'B',
 'Франция': 'C',
 'Дания': 'C',
 'Египет': 'A',
 'Италия': 'unknown'}

In [7]:
draw_dict= {
    'Россия': 'A',
    'Португалия': 'B',
    'Франция': 'C',
    'Дания': 'C',
    'Египет': 'A'
}
draw_new = {}
for country in draw_dict:
    if draw_dict[country] == 'A':
        print(country)
        draw_new[country] = 'A'
draw_new

Россия
Египет

{'Россия': 'A', 'Египет': 'A'}

In [12]:
employee_base = {'Мария Никитина': 'менеджер', 'Егор Савичев': 'разработчик', 'Александр Пахомов': 'дизайнер', 'Алина Егорова': 'разработчик', 'Руслан Башаров': 'верстальщик'}
count = 0
for position in employee_base.values():
    if position == 'разработчик':
        count+=1
print(count)

2

In [18]:
draw_dict= {
    'Россия': 'A',
    'Португалия': 'B',
    'Франция': 'C',
    'Дания': 'C',
    'Египет': 'A'
}
draw_new = {}
for country, group in draw_dict.items():
    if group == 'A':
        draw_new[country] = 'A'
draw_new

{'Россия': 'A', 'Египет': 'A'}

In [32]:
spent = {
    '2019-04-01': 2504,
    '2019-04-02': 4994,
    '2019-04-03': 6343
}
spent_sum = 0
for number in spent.values():
    spent_sum = spent_sum + number
    print(spent_sum)

2504
7498
13841

In [33]:
phones = {
	'Гордиенко Виктория': 5140,
	'Анисимов Кирилл': 5145,
	'Кузнецова Дарья': 5142
}
for name, phone in phones.items():
	if name == 'Кузнецова Дарья' and phone == 5142:
		print('Номер верен')

Номер верен

In [34]:
phones = {
	'Гордиенко Виктория': 5140,
	'Анисимов Кирилл': 5145,
	'Кузнецова Дарья': 5142
}
if phones['Кузнецова Дарья'] == 5142:
	print('Номер верен')

Номер верен

In [35]:
phones = {
	'Гордиенко Виктория': 5140,
	'Анисимов Кирилл': 5145,
	'Кузнецова Дарья': 5142
}
for record in phones:
	if record == 'Кузнецова Дарья' and phones[record] == 5142:
		print('Номер верен')

Номер верен

In [44]:
csv_file = [
    ['100412', 'Ботинки для горных лыж ATOMIC Hawx Prime 100', 9],
    ['100728', 'Скейтборд Jdbug RT03', 32],
    ['100732', 'Роллерсерф Razor RipStik Bright', 11],
    ['100803', 'Ботинки для сноуборда DC Tucknee', 20],
    ['100898', 'Шагомер Omron HJA-306', 2],
    ['100934', 'Пульсометр Beurer PM62', 17],
]
pulsometer_id = 0
pulsometer_id = csv_file[5][0]
print(pulsometer_id)

100934

In [2]:
csv_file = [
    ['100412', 'Ботинки для горных лыж ATOMIC Hawx Prime 100', 9],
    ['100728', 'Скейтборд Jdbug RT03', 32],
    ['100732', 'Роллерсерф Razor RipStik Bright', 11],
    ['100803', 'Ботинки для сноуборда DC Tucknee', 20],
    ['100898', 'Шагомер Omron HJA-306', 2],
    ['100934', 'Пульсометр Beurer PM62', 17],
]
csv_file_filtered=[]
for record in csv_file:
    if record[2] >= 10:
        csv_file_filtered.append(record)
        print(csv_file_filtered)

[['100728', 'Скейтборд Jdbug RT03', 32]]
[['100728', 'Скейтборд Jdbug RT03', 32], ['100732', 'Роллерсерф Razor RipStik Bright', 11]]
[['100728', 'Скейтборд Jdbug RT03', 32], ['100732', 'Роллерсерф Razor RipStik Bright', 11], ['100803', 'Ботинки для сноуборда DC Tucknee', 20]]
[['100728', 'Скейтборд Jdbug RT03', 32], ['100732', 'Роллерсерф Razor RipStik Bright', 11], ['100803', 'Ботинки для сноуборда DC Tucknee', 20], ['100934', 'Пульсометр Beurer PM62', 17]]

In [31]:
csv_dict = [
    {'id': '100412', 'position': 'Ботинки для горных лыж ATOMIC Hawx Prime 100', 'count': 9},
    {'id': '100728', 'position': 'Скейтборд Jdbug RT03', 'count': 32},
    {'id': '100732', 'position': 'Роллерсерф Razor RipStik Bright', 'count': 11},
    {'id': '100803', 'position': 'Ботинки для сноуборда DC Tucknee', 'count': 20},
    {'id': '100898', 'position': 'Шагомер Omron HJA-306', 'count': 2},
    {'id': '100934', 'position': 'Пульсометр Beurer PM62', 'count': 17},
]
csv_dict_boots = []
for record in csv_dict:
    if 'Ботинки' in record['position']:
        csv_dict_boots.append(record)
print(csv_dict_boots)

[{'id': '100412', 'position': 'Ботинки для горных лыж ATOMIC Hawx Prime 100', 'count': 9}, {'id': '100803', 'position': 'Ботинки для сноуборда DC Tucknee', 'count': 20}]

In [54]:
results = [
	{'cost': 98, 'source': 'vk'},
	{'cost': 153, 'source': 'yandex'},
	{'cost': 110, 'source': 'facebook'},
]
minv = results[]

AttributeError: 'str' object has no attribute 'append'

In [55]:
defect_stats = [
	{'step number': 1, 'damage': 0.98},
	{'step number': 2, 'damage': 0.99},
	{'step number': 3, 'damage': 0.99},
	{'step number': 4, 'damage': 0.96},
	{'step number': 5, 'damage': 0.97},
	{'step number': 6, 'damage': 0.97},
]
dam=1
for i in defect_stats:
    print(i['step number'],dam*i['damage'])
    if dam*i['damage']<0.9:
        print(i['step number'])
        break
    else:
        dam*=i['damage']

1 0.98
2 0.9702
3 0.960498
4 0.9220780799999999
5 0.8944157375999999
5

In [74]:
currency = {
	'AMD': {
		'Name': 'Армянских драмов',
		'Nominal': 100,
		'Value': 13.121
	},

	'AUD': {
		'Name': 'Австралийский доллар',
		'Nominal': 1,
		'Value': 45.5309
	},

	'INR': {
		'Name': 'Индийских рупий',
		'Nominal': 100,
		'Value': 92.9658
	},

	'MDL': {
		'Name': 'Молдавских леев',
		'Nominal': 10,
		'Value': 36.9305
	},
}
cur2 = []
for record in currency.items():
   cur2.append((record[1]['Value']/record[1]['Nominal']))
print(min(cur2))

0.13121

In [75]:
currency = {
	'AMD': {
		'Name': 'Армянских драмов',
		'Nominal': 100,
		'Value': 13.121
	},

	'AUD': {
		'Name': 'Австралийский доллар',
		'Nominal': 1,
		'Value': 45.5309
	},

	'INR': {
		'Name': 'Индийских рупий',
		'Nominal': 100,
		'Value': 92.9658
	},

	'MDL': {
		'Name': 'Молдавских леев',
		'Nominal': 10,
		'Value': 36.9305
	},
}
cur2=[]
result=0
name=''
for record in currency.items():
   if result<(record[1]['Value']/record[1]['Nominal']):
        result=(record[1]['Value']/record[1]['Nominal'])
        name=record[0]
print(name)

AUD

In [76]:
currency = {
	'AMD': {
		'Name': 'Армянских драмов',
		'Nominal': 100,
		'Value': 13.121
	},

	'AUD': {
		'Name': 'Австралийский доллар',
		'Nominal': 1,
		'Value': 45.5309
	},

	'INR': {
		'Name': 'Индийских рупий',
		'Nominal': 100,
		'Value': 92.9658
	},

	'MDL': {
		'Name': 'Молдавских леев',
		'Nominal': 10,
		'Value': 36.9305
	},
}
cur2=[]
result=0
name=''
i=0
for record in currency.items():
    if i==0: 
        result=(record[1]['Value']/record[1]['Nominal'])
    if result>=(record[1]['Value']/record[1]['Nominal']):
        result=(record[1]['Value']/record[1]['Nominal'])
        name=record[0]
    i+=1
print(name)

AMD

In [102]:
bodycount = {
	'Проклятие Черной жемчужины': {
		'человек': 17
	}, 

	'Сундук мертвеца': {
		'человек': 56,
		'раков-отшельников': 1
	},

	'На краю света': {
		'человек': 88
	},

	'На странных берегах': {
		'человек': 56,
		'русалок': 2,
		'ядовитых жаб': 3,
		'пиратов зомби': 2
	}
}
total = []
for record in bodycount.items():
    total.append((record[1]['человек']))
print(sum(total))

217

In [92]:
bodycount = {
	'Проклятие Черной жемчужины': {
		'человек': 17
	}, 

	'Сундук мертвеца': {
		'человек': 56,
		'раков-отшельников': 1
	},

	'На краю света': {
		'человек': 88
	},

	'На странных берегах': {
		'человек': 56,
		'русалок': 2,
		'ядовитых жаб': 3,
		'пиратов зомби': 2
	}
}
deadman_list = []
for parts, deadman in bodycount.items():
    deadman_list.append(deadman.values())
print(deadman_list)

[dict_values([17]), dict_values([56, 1]), dict_values([88]), dict_values([56, 2, 3, 2])]

In [96]:
bodycount = {
	'Проклятие Черной жемчужины': {
		'человек': 17
	}, 

	'Сундук мертвеца': {
		'человек': 56,
		'раков-отшельников': 1
	},

	'На краю света': {
		'человек': 88
	},

	'На странных берегах': {
		'человек': 56,
		'русалок': 2,
		'ядовитых жаб': 3,
		'пиратов зомби': 2
	}
}
result = []
for film, died in bodycount.items():
    for key in died.values():
        result.append(key)
print(sum(result))

225

In [105]:
arrivals = {
	'Париж': {'время': '15:25', 'статус': 'ожидается', 'рейс': ['Аэрофлот']},
	'Пекин': {'время': '15:35', 'статус': 'опаздывает', 'рейс': ['China Southern Airlines', 'Россия']},
	'Лиссабон': {'время': '15:40', 'статус': 'ожидается', 'рейс': ['Nordwind', 'Аэрофлот']},
}
r = len(arrivals['Пекин']['рейс'])
print(r)

2

In [106]:
import json
with open('data.json', 'rb') as infile:
    data = json.load(infile)