In [1]:
from datetime import datetime, timedelta

### Библиотека datetime
До этого шага мы работали с датами как с обычными строками. Пора начать использовать полученные знания для практических задач, а именно переводить дату в виде строки в  переменную типа datetime. Это позволит нам использовать многочисленные возможности работы с датами: выделять из даты любой период (день, секунду), прибавлять и вычитать временные интервалы (например, вычитать из 1 марта 1 день с учетом високосных годов) и многое другое.

Возьмём строку:

In [2]:
date_string = '05.05.2019 21:00'

Для перевода этой строки в дату используется метод strptime:

In [4]:
dt = datetime.strptime(date_string, '%d.%m.%Y %H:%M')

In [5]:
dt

datetime.datetime(2019, 5, 5, 21, 0)

Мы получили переменную типа datetime, и в качестве первого действия можно сразу получить год, день, час и другие характеристики даты и времени:

In [6]:
dt.hour

21

In [7]:
dt.month

5

### Перевод даты в строку

Перед тем, как рассматривать другие практические применения типа переменных datetime, рассмотрим обратный процесс перевода даты в строку. Эта операция будет часто встречаться, так как результаты работы с датами обычно записываются в файлы как строки в удобном формате. Для этого действия предназначен метод strftime, который похож на strptime из прошлого шага.

Зададим значение dt из прошлого шага ещё раз, не обязательно для этого использовать перевод из строки, можно задать дату и время напрямую:

In [8]:
dt = datetime(2019, 5, 5, 21, 0)

Как видно из синтаксиса, порядок следования периодов логичен: год, номер месяца, день, часы, минуты, секунды (не обязательно указывать все аргументы, но важно сохранять их порядок). Теперь для перевода даты dt в строку достаточно указать желаемый формат. Используем стандартный формат YYYY-MM-DD:

In [9]:
dt.strftime('%Y-%m-%d')

'2019-05-05'

In [10]:
dt = datetime(2019, 4, 1, 18, 59, 44)

In [11]:
dt.strftime('%Y-%m-%d')

'2019-04-01'

In [12]:
date_string =  '2019-07-07T18:59:33'
date_format = date_string.split('T')[::2]
#date_format.replace('-', '.')
date_format

['2019-07-07']

In [16]:
date_string =  '2019-07-07T18:59:33'
date_format = date_string.replace('-', '.')
date_format = date_format.split('T')[::2]
date_format

"['2019.07.07']"

In [20]:
datetime.strptime('2019.07.07', '%Y.%m.%d').strftime('%d.%m.%Y')

'07.07.2019'

In [33]:
datetime.strptime('2019-07-07T18:59:33', '%Y-%m-%dT%H:%M:%S').strftime('%d.%m.%Y')

'07.07.2019'

In [34]:
datetime.strptime(date_string, '%Y-%m-%dT%H:%M:%S').strftime('%d.%m.%Y')

'07.07.2019'

In [57]:
mylist = ['spam', 'ham', 'eggs']
print (', '.join(mylist))

spam, ham, eggs

In [68]:
dt_list = ['2019-07-07T18:59:06', '2019-07-07T19:00:02', '2019-07-07T19:01:04']
data = (','.join(dt_list))
datetime_list = datetime.strptime(data, '%Y-%m-%dT%H:%M:%S')

str

In [63]:
list_of_ints = [80, 443, 8080, 8081]
t = (str(list_of_ints).strip('[]'))
t
type(t)

str

In [77]:
myList = ['str1', 'str2', 'str3']
myString = ', '.join(myList)
myString

'str1, str2, str3'

In [75]:
data = ('2019-07-07T18:59:06')
data1 = datetime.strptime(data, '%Y-%m-%dT%H:%M:%S')
data1

datetime.datetime(2019, 7, 7, 18, 59, 6)

In [79]:
dt_list = ['2019-07-07T18:59:06', '2019-07-07T19:00:02', '2019-07-07T19:01:04']
datetime_list = []
for i in dt_list:
    j = datetime.strptime(i, '%Y-%m-%dT%H:%M:%S')
    datetime_list.append(j)
datetime_list

[datetime.datetime(2019, 7, 7, 18, 59, 6),
 datetime.datetime(2019, 7, 7, 19, 0, 2),
 datetime.datetime(2019, 7, 7, 19, 1, 4)]

In [52]:
from datetime import datetime
datetime_list = [
    datetime(2019, 7, 7, 18, 59, 6),
    datetime(2019, 7, 7, 19, 0, 2),
    datetime(2019, 7, 7, 19, 1, 4)
]

report_second = []

start_list = [
    datetime(2019, 7, 7, 18, 59, 0),
    datetime(2019, 7, 7, 19, 0, 0),
    datetime(2019, 7, 7, 19, 1, 0),
]

def datas(i, j):
    for i in datetime_list:
        for j in start_list:
            i = 0
            j = 0
            delta = i - j
            i = i+1
            j = j+1
    return delta
report_second = datas(datetime_list, start_list)
report_second

0

In [6]:
from datetime import datetime
datetime_list = [
    datetime(2019, 7, 7, 18, 59, 6),
    datetime(2019, 7, 7, 19, 0, 2),
    datetime(2019, 7, 7, 19, 1, 4)
]

start_list = [
    datetime(2019, 7, 7, 18, 59, 0),
    datetime(2019, 7, 7, 19, 0, 0),
    datetime(2019, 7, 7, 19, 1, 0),
]

time_delta = (datetime.datetime_list() - datetime.start_list(), '%Y, %m, %d, %H, %M, %S')
  
print(time_delta.total_seconds())

AttributeError: type object 'datetime.datetime' has no attribute 'datetime_list'

## Синтаксис и принцип работы timedelta

### Синтаксис и принцип работы timedelta
Необходимость прибавлять временной интервал к дате часто встречается в самых разнообразных задачах. Например, при заборе данных из внешних источников с помощью API для каждого дня отдельно (для увеличения точности выгрузки).

Допустим, у нас есть дата начала выгрузки start_date. Необходимо прибавить к этой дате день: воспользуемся модулем timedelta.

In [9]:
from datetime import datetime, timedelta
start_date = '2019-01-01'
start_date_datetime = datetime.strptime(start_date, '%Y-%m-%d') #Переводим строковую переменную start_date в формат datetime:
start_date_datetime + timedelta(days = 1) #Теперь можем прибавлять к ней нужные временные интервалы с помощью timedelta:

datetime.datetime(2019, 1, 2, 0, 0)

In [10]:
from datetime import datetime, timedelta
start_date = '2019-01-01'
start_date_datetime = datetime.strptime(start_date, '%Y-%m-%d')
start_date_datetime + timedelta(days = -7)#Посмотрим, что получится, если отнять от start_date_datetime (от 1 января) 7 дней:

datetime.datetime(2018, 12, 25, 0, 0)

In [11]:
start_date_datetime += timedelta(hours = 1) #Если к дате выгрузки нужно прибавить час, то просто изменяем параметр функции timedelta:
start_date_datetime

datetime.datetime(2019, 1, 1, 1, 0)

## Перебор дат в цикле

После того, как мы освоили работу с отдельными датами, давайте посмотрим, как работать с большим количеством дат. Для этого мы реализуем алгоритм, который по дате начала и конца выгрузки будет «пробегать» все значения по дням.

Этот метод часто необходим при получении данных от внешних систем, а также для обработки больших выгрузок частями: по дням или по часам. Типичный пример — выгрузка сложных отчётов из Google Analytics по дням, чтобы уменьшить сэмплирование данных. В дальнейшем такой навык понадобится для определения покупательской активности по часам и дням или любой другой аналитики в больших файлах.

Потренируемся на простом примере. Представим, что нам необходимо из огромной таблицы с данными за год выбрать (или узнать) показатели за новогодние праздники с 1 по 7 января. Научимся на этом шаге перебирать необходимые даты. 

Начальную и конечную дату будем задавать в удобном для человека строковом виде: